.site-footer {
  background-color: #11111A; 
  color: #ffffff; 
  text-align: center;
  font-family: system-ui, sans-serif;
  width: 100vw; 
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem;  
  margin-bottom: 100px;
}

.footer-brand h2 {
  margin: 10px;
}
.footer-brand img {
  width: 300px;
  height: 150px;
  position: absolute;
  bottom: 65px;
  left: 700px;
}

.footer-title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  
}

.footer-contact {
  margin-left: 20px;
  font-style: normal; 
  font-size: small;
  line-height: 0.5;
  color: #e6e6e6;
}

.footer-contact a {
  color: #e6e6e6;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-contact p:first-child {
  font-size: 0.8rem; /* gör texten större */
  font-weight: 700;  /* gör den fetare */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
