.searchbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem; 
  margin-bottom: 3rem;
}

.searchbar-label {
  color: #f9f9f9;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.searchbar-input {
  width: 100%;
  max-width: 420px;
  padding: 0.6rem 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  background-color: #1b1b2f;
  color: #f9f9f9;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.3s, background-color 0.3s;
  text-align: left;
}

.searchbar-input::placeholder {
  color: #a6a5a5;
}

.searchbar-input:focus {
  border: 1px solid #cc0028;
  background-color: #24243d;
}


@media only screen and (max-width: 600px) {
  .searchbar-input {
    max-width: 90%;
  }
}