.site-footer {
  position: relative;
  background-color: #090516;
  color: #ffffff;
  text-align: center;
  font-family: system-ui, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 17vh;
  filter: drop-shadow(0px 0px 2px rgba(143, 175, 255, 0.464))
    drop-shadow(0px 0px 50px rgba(143, 143, 227, 0.149));
}
.footer-overlay {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  opacity: 17%;
  background: radial-gradient(
    ellipse at center bottom,
    rgb(184, 188, 255) 0%,
    #090516 55%,
    #090516 80%,
    #090516 100%
  );
}

.footer-brand {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* staplar innehållet snyggt på mobil */
  gap: 1rem;
}

.footer-brand img {
  width: 110px;
  height: auto;
  position: static;
  margin-top: 8vh;
  margin-bottom: 4.8vh;
  filter: drop-shadow(0px 0px 2px rgba(143, 175, 255, 0.147))
    drop-shadow(0px 0px 30px rgba(161, 161, 233, 0.294));
}

.footer-title {
  z-index: 1;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 3.2vh;
  color: #fffdf4;
}

.footer-contact {
  z-index: 1;
  margin-left: 0px;
  margin-top: -35px;
  margin-bottom: 1vh;
  font-style: normal;
  font-size: small;
  line-height: 1;
  letter-spacing: 0.89px;
  color: #c1c1c1;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-contact p:first-child {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a4a4a4;
}
