.tickets-amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.tickets-amount-container p {
  margin: 0;
  padding: 0;
}

.tickets-amount-add-amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.tickets-amount-type-reduced-price {
  color: #989191;
}

.tickets-amount-number {
  font-weight: 700;
  font-size: 1.5rem;
}

.ticket-amount-button {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 15px;
  width: 15px;
  padding: 1vh;
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
