#root {
  margin: 0 auto;
  text-align: center;
  --red-primary: #c41230;
  --button-bg: #5f5263;
  --button-bg-hover: #4a3f4e;
  --text-light: #f9f9f9;
  --page-bg: #e0e0e0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-light);
  font-family: Arial, sans-serif;
}
body {
  background-color: #0a0416;
}

main {
  margin: 0;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

.show-all-container {
  text-align: center;
  margin: 1.5rem 0;
}

.show-all-container {
  text-align: center;
  margin: 1.5rem 0;
}

.show-all-button {
  background-color: #c41230; 
  color: white;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.show-all-button:hover {
  background-color: #490d1c; 
}

.show-all-button.active {
  background-color: #c41230; 
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); 
}
.show-all-button.active:hover {
  background-color: #490d1c;
}

